{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block content %}
<!--Navigation Breadcrumbs-->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Registered Requests</li>
  </ol>
</nav>

<h1 class="text-center">Registered Requests</h1>
<h2 class="text-center">ഇതു വരെ ആവശ്യപ്പെട്ടവ</h2>
<form action="" method="get">
       {% bootstrap_form filter.form bound_css_class=False %}
       <input value="View requests" class="btn btn-primary" type="submit" />
 </form>
 <div id="requests-table" class="table-responsive">
  <table id="req-table" class="table">
    <thead>
      <tr>
        <th>Request Number - അപേക്ഷ നമ്പര്‍</th>
        <th>District - ജില്ല</th>
        <th>Location - സ്ഥലം</th>
        <th>Requestee - അപേക്ഷകന്‍റെ പേര</th>
        <th>Phone - ഫോണ്‍ നമ്പര്‍</th>
        <th>Date - തീയതി</th>
        <th>More details - കൂടുതൽ വിശദാംശങ്ങൾ</th>
		<th>Update</th>
      </tr>
    </thead>
    <tbody>
    {% for req in data %}
        <tr>
          <td>{{ req.id }}</td>
          <td>{{ req.get_district_display }}</td>
          <td>{{ req.location }}</td>
          <td>{{ req.requestee }}</td>
          <td><a href="tel:{{ req.requestee_phone }}" >{{ req.requestee_phone }}</a></td>
          <td>{{ req.dateadded }}</td>
          <td class="hide">
            {% if req.latlng %}
            <a class="btn btn-sm btn-success" href="https://maps.google.com/?q={{ req.latlng }}" target="_blank">Open in maps</a>
            <br>
            Accuracy: {{ req.latlng_accuracy }}
            {% else %}
            NA
            {% endif %}
          </td>
          <td class="hide">{{ req.summarise | linebreaks }} </td>
          <td><button class="show-details btn btn-sm btn-success">More details</button></td>
	  	    <td><a class="btn btn-sm btn-success" href="{%url 'requestupdateview' req.id %}" target="_blank">Update</a></td>
        </tr>
    {% endfor %}
  </tbody>
  </table>

  <div class="pagination" >
    <span class="step-links">
        {% if data.has_previous %}
            <a href="?page=1&district={{ request.GET.district }}&requestee__icontains={{ request.GET.requestee__icontains }}&requestee_phone={{ request.GET.requestee_phone }}&location__icontains={{ request.GET.location__icontains }}">&laquo; first</a>
            <a href="?page={{ data.previous_page_number }}&district={{ request.GET.district }}&requestee__icontains={{ request.GET.requestee__icontains }}&requestee_phone={{ request.GET.requestee_phone }}&location__icontains={{ request.GET.location__icontains }}">previous</a>
        {% endif %}

        {% for i in data.paginator.page_range %}
        {% if data.number == i %}
            <a class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></a>
            {% elif i > data.min_page and i < data.max_page or i|divisibleby:data.lim_page %}
          <a href="?page={{ i }}&district={{ request.GET.district }}&requestee__icontains={{ request.GET.requestee__icontains }}&requestee_phone={{ request.GET.requestee_phone }}&location__icontains={{ request.GET.location__icontains }}">{{ i }}</a>
        {% endif %}
      {% endfor %}

        {% if data.has_next %}
            <a href="?page={{ data.next_page_number }}&district={{ request.GET.district }}&requestee__icontains={{ request.GET.requestee__icontains }}&requestee_phone={{ request.GET.requestee_phone }}&location__icontains={{ request.GET.location__icontains }}">next</a>
            <a href="?page={{ data.paginator.num_pages }}&district={{ request.GET.district }}&requestee__icontains={{ request.GET.requestee__icontains }}&requestee_phone={{ request.GET.requestee_phone }}&location__icontains={{ request.GET.location__icontains }}">last &raquo;</a>
            {% endif %}
    </span>
  </div>

 </div>

 <!-- Modal -->
 <div id="req-details" class="modal fade" role="dialog">
   <div class="modal-dialog">

     <!-- Modal content-->
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">Request Details</h4>
       </div>
       <div class="modal-body">
         <div class="container">
           <div class="row">
             <span class="col-xs-6">District: <span id="req-dist"></span></span>
             <span class="col-xs-6">Requestee: <span id="req-requestee"></span></span>
           </div>
           <div class="row">
             <span class="col-xs-6">Contact: <span id="req-contact"></span></span>
             <span class="col-xs-6">Date: <span id="req-date"></span></span>
           </div>
           <div class="row">
             <span class="col-xs-6">Location: <span id="req-loc"></span></span>
             <span class="col-xs-6">GPS Location: <span id="req-gps"></span></span>
           </div>
           <div class="row">
             <div class="col-xs-12">
               <h3>Summary</h3>
               <p id="req-summary"></p>
             </div>
           </div>
         </div>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       </div>
     </div>

   </div>
 </div>
 {% endblock %}

 {% block javascript %}
 <script src="{% static 'js/request-list.js' %}" async defer></script>
 {% endblock %}
